<div class="m-5 bg-white h-[264px] w-[264px] border-[#DBC2A9] border-[1px] rounded-[8px] font-[mulish]">
    <div class="pt-[18px] ml-[23px] mr-[46px] text-[#5A4026] text-sm font-semibold leading-[21px]">
        Get foothold in Australian fraud Market that is best for all 40000 make me wonder
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center"
        class="mt-[14px] ml-[28px] mr-[24px] mb-0 text-black text-sm">
        <div fxLayout="row" fxLayoutAlign="row center" fxLayoutGap="gappx">
            <circle-progress class="p-0 m-0 bg-[#00815F] bg-opacity-5 rounded-[8px]" [percent]="89" [radius]="20"
                [outerStrokeWidth]="2" [innerStrokeWidth]="0" [outerStrokeColor]="'#00815F'" [animation]="true"
                [animationDuration]="300" [titleFontSize]="'15'" [unitsFontSize]="'15'" [unitsColor]="'#00815F'"
                [subtitleColor]="'#00815F'" [titleColor]="'#00815F'" [showSubtitle]="false">
            </circle-progress>
            <span class="pl-1">Progress</span>
        </div>
        <div class="text-[12px] text-center bg-[#00815F] py-1 px-4 bg-opacity-5 rounded-[8px]">
            <ul class="list-disc">
                <li class="text-[#00815F]">On Track</li>
            </ul>
        </div>
    </div>
    <div fxLayout="row" fle fxLayoutAlign="space-between center"
        class="pt-[14px] ml-[24px] mr-[24px] text-black text-sm">
        <div fxLayout="row" fxLayoutAlign="row center">
            <span
                class="material-symbols-sharp text-[#64748B] text-[20px] bg-opacity-50  bg-white p-1 h-[24px] w-[24px] shadow-sm ">
                groups
            </span>
            <span class="pl-1">Marketing</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="row center">
            <span
                class="material-symbols-sharp text-[#64748B] text-[20px] bg-opacity-50  bg-white p-1 h-[24px] w-[24px] shadow-sm ">
                today
            </span>
            <span class="pl-1">Annual <br>2021</span>
        </div>
    </div>
    <div class="pt-[32px] ml-[23px] mr-[16px] text-[14px] flex flex-row items-center justify-evenly">
        <p>Key Results</p>
        <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <div class="p-[5px] m-1 rounded-[50px] bg-white shadow-md">
                <div class="p-[2px] bg-[#64748B] rounded-sm text-[20px]"></div>
            </div>
            <div class="p-[5px] m-1 rounded-[50px] bg-white shadow-md">
                <div class="p-[2px] bg-[#C27501] rounded-sm text-[20px]"></div>
            </div>
            <div class="p-[5px] m-1 rounded-[50px] bg-white shadow-md">
                <div class="p-[2px] bg-red-500 rounded-sm text-[20px]"></div>
            </div>
            <div class="p-[5px] m-1 rounded-[50px] bg-white shadow-md">
                <div class="p-[2px] bg-red-500 rounded-sm text-[20px]"></div>
            </div>
            <div class="p-[5px] m-1 rounded-[50px] bg-white shadow-md">
                <div class="p-[2px] bg-[#64748B] rounded-sm text-[20px]"></div>
            </div>
        </div>
        <p>+9</p>
    </div>
</div>